@model MovieTheaterBooker.Models.ConfirmedBookingVM 

@{
    ViewData["Title"] = "Confirmed";
}

<h2>Tickets confirmed for Movie @Model.SeatBookings[0].ScreenRelease.Movie.Title 

</h2>
<h3>
    @Model.SeatBookings[0].ScreenRelease.ReleaseTime.DayOfWeek.ToString()
    at
    @Model.SeatBookings[0].ScreenRelease.ReleaseTime.ToString("HH:mm"), 
    Screen @Model.SeatBookings[0].ScreenRelease.Screen.Name
</h3>
<hr>
<h4>
    Seats booked:
    @{
        foreach (var booking in Model.SeatBookings)
        {
            @($"{booking.Seat.Row}{booking.Seat.Number} ")
        }
    }
</h4>
   

<form  asp-controller="Home" asp-action="Index">
    <button class="btn btn-primary">
        Home
    </button>
</form>

